.services {
  width: 100%;

  &__header {
    text-align: center;
    width: 100%;
    font-size: 4rem;
    padding-bottom: 3rem;
    color: white;
  }

  &__container {
    display: flex;
    justify-content: center;

    &-item {
      width: 20vw;
      margin: 0 4%;
      text-align: center;

      & img {
        width: 80%;
        height: auto;
      }
    }
  }
}
